<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          package="sk.magiksoft.intellihome">
    <uses-sdk android:minSdkVersion="15"/>
    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>
    <application android:icon="@drawable/house" android:label="@string/app_name">
        <activity android:name=".HomeScreen">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>
        <activity android:name=".MyHomeInfo">
            <meta-data
                    android:name="android.support.PARENT_ACTIVITY"
                    android:value=".HomeScreen"/>
        </activity>
        <activity android:name=".ConfigPage">
            <meta-data
                    android:name="android.support.PARENT_ACTIVITY"
                    android:value=".HomeScreen"/>
        </activity>
        <activity android:name=".Settings"/>
    </application>
</manifest>
